<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Logística</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Sistema - Route Managers</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="encomendas.html">Encomendas</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Bem-vindo - ao Route Manager</h2>
            <p>Selecione uma das opções no menu para começar.</p>
        </section>
    </main>
    
    <footer>
        <p>Sistema Desenvolvido por Gustavson Barros &copy; 2025</p>
    </footer>
    
    <script src="../js/api.js"></script>
</body>
</html>